//
//  TwitterImagePipeline.Test.tvos.xcconfig
//  TwitterImagePipeline
//
//  Created on 5/25/19.
//  Copyright © 2019 Twitter. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "TwitterImagePipeline.Test.xcconfig"

// Architectures
SDKROOT = appletvos

// Deployment
TARGETED_DEVICE_FAMILY = 3
TVOS_DEPLOYMENT_TARGET = 9.0

// Search Paths

// while there is an XCTest.framework at the appropriate location in
// Developer/AppleTVOS.platform/Developer/Library/Frameworks, the compiler
// can't find it without the following setting:
FRAMEWORK_SEARCH_PATHS = $(inherited) $(SDKROOT)/../../Library/Frameworks
