//
//  TwitterImagePipeline.framework.xcconfig
//  TwitterImagePipeline
//
//  Created on 5/25/19.
//  Copyright © 2020 Twitter. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Architectures
SDKROOT = iphoneos

// Build Options
APPLICATION_EXTENSION_API_ONLY = YES

// Deployment
IPHONEOS_DEPLOYMENT_TARGET = 10.0
TVOS_DEPLOYMENT_TARGET = 10.0
SKIP_INSTALL = YES

// Apple Clang - Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) TIP_PROJECT_VERSION=$(CURRENT_PROJECT_VERSION)

// Packaging
PRODUCT_NAME = $(TARGET_NAME)
PUBLIC_HEADERS_FOLDER_PATH = include/${PRODUCT_NAME}
