//
//  TwitterImagePipeline.Release.xcconfig
//  TwitterImagePipeline
//
//  Created on 5/25/19.
//  Copyright © 2020 Twitter. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "TwitterImagePipeline.xcconfig"

// Build Options

// FB7419630 - unless dwarf-with-dsym explicitly set, no dSYM will be generated for mac catalyst build
DEBUG_INFORMATION_FORMAT[sdk=macosx*] = dwarf-with-dsym


// Deployment
COPY_PHASE_STRIP = YES

GCC_OPTIMIZATION_LEVEL = fast

// Swift Compiler - Code Generation
SWIFT_COMPILATION_MODE = wholemodule
