//
//  TwitterImagePipeline.Test.tvos.xcconfig
//  TwitterImagePipeline
//
//  Created on 5/25/19.
//  Copyright © 2020 Twitter. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "TwitterImagePipeline.Test.xcconfig"

// Architectures
SDKROOT = appletvos

// Deployment
TARGETED_DEVICE_FAMILY = 3
TVOS_DEPLOYMENT_TARGET = 9.0

// Packaging
INFOPLIST_FILE = TIPTests/Info.plist
