//
//  TwitterImagePipeline.Test.app.xcconfig
//  TwitterImagePipeline
//
//  Created on 5/25/19.
//  Copyright © 2019 Twitter. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "TwitterImagePipeline.Test.xcconfig"

// Architectures
ONLY_ACTVE_ARCH = YES

// Deployment
COPY_PHASE_STRIP = NO
IPHONEOS_DEPLOYMENT_TARGET = 10.0 // 3 of the 4 sample apps use Foundation or UIKit API introduced in 10.0

// Asset Catalog Compiler - Options
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

// Apple Clang - Language
GCC_C_LANGUAGE_STANDARD = gnu11

// Apple Clang - Language - C++
CLANG_CXX_LANGUAGE_STANDARD = "gnu++14"

// Apple Clang - Warnings - All Languages
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE

// Deployment
SKIP_INSTALL = NO

// Linking
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks

// Packaging
INFOPLIST_FILE = $(TARGET_NAME)/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.twitter.${PRODUCT_NAME:rfc1034identifier}
PRODUCT_NAME = $(TARGET_NAME)

// Search Paths
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Extended
