//
//  TwitterImagePipeline.framework.tvos.xcconfig
//  TwitterImagePipeline
//
//  Created on 5/25/19.
//  Copyright © 2020 Twitter. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "TwitterImagePipeline.framework.xcconfig"

// Architectures
SDKROOT = appletvos

// Deployment
CODE_SIGN_IDENTITY =
TARGETED_DEVICE_FAMILY = 3
