//
//  TwitterImagePipeline.Test.ios.xcconfig
//  TwitterImagePipeline
//
//  Created on 5/25/19.
//  Copyright © 2019 Twitter. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "TwitterImagePipeline.Test.xcconfig"

// Architectures
SDKROOT = iphoneos

// Deployment
IPHONEOS_DEPLOYMENT_TARGET = 8.0

// Search Paths

// 1. we keep WebP.framework in our local "Extended" subfolder
// 2. while there is an XCTest.framework at the appropriate location relative to SDKROOT
//    as referened in the projet, the compiler can't find it without the second setting
//    when building the TIPTests.framework intermediate frameworks
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Extended $(SDKROOT)/../../Library/Frameworks
