//
//  TwitterImagePipeline.Test.xcconfig
//  TwitterImagePipeline
//
//  Created on 5/25/19.
//  Copyright © 2020 Twitter. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Architectures
ONLY_ACTIVE_ARCH = YES

// Build Options
DEBUG_INFORMATION_FORMAT = dwarf

// Deployment
COPY_PHASE_STRIP = NO
SKIP_INSTALL = YES
IPHONEOS_DEPLOYMENT_TARGET = 10.0
TVOS_DEPLOYMENT_TARGET = 10.0
MACOSX_DEPLOYMENT_TARGET = 10.15

// Linking
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

// 1. CoreServices is not available until iOS 12
// 2. in Xcode11 going forward, including MobileCoreServices in the Build Phase
//    `Link Binary With Libraries` results in a warning.
//
// workaround: remove from that Build Phase and link using this -framework MobileCoreServices arg
// TODO: when min deployment target >= 12.0: delete this & place CoreServices in 'Link Binary With Libraries`
OTHER_LDFLAGS = $(inherited) -framework MobileCoreServices

// Packaging
INFOPLIST_FILE = $(TARGET_NAME)/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.twitter.${PRODUCT_NAME:rfc1034identifier}
PRODUCT_NAME = $(TARGET_NAME)

