//
//  TwitterImagePipeline.Test.swift.xcconfig
//  TwitterImagePipeline
//
//  Created on 5/25/19.
//  Copyright © 2019 Twitter. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "TwitterImagePipeline.Test.app.xcconfig"

// Deployment

// required for Swift compilation
IPHONEOS_DEPLOYMENT_TARGET = 10.0

SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
SWIFT_OBJC_BRIDGING_HEADER = $(TARGET_NAME)/Sample-Bridging-Header.h;
SWIFT_VERSION = 5.0;
