<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageSpeedComparison.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>PJPEGTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>TIP Sample App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>Test - Image Pipeline.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>TwitterImagePipeline.framework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>TwitterImagePipeline.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B1906DD1CE81A5D00CB0654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BA975521D77E2C900601D70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BA975861D77F27D00601D70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BB66A0F1E450DFB00A8F241</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BB803451D77B3FE00A92DB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BC39AD51D77E07600ED5F4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BE31C821B9A1BF5009BC0B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BE31C9A1B9A1BF6009BC0B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BED8CBA1B18C9A700352956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BED8CD21B18C9A700352956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BFBD3461AA77DB2007A08DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BFBD3511AA77DB2007A08DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BFBD3741AA780B7007A08DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BFBD3B11AA782EB007A08DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BFBD3CC1AA782EB007A08DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BFF17691DF5B4AD005DE734</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
